h1{
    font-family:inherit;
    color:rgb(250, 247, 247);
}
    
body{
    background-image:url("bg-img.avif");
    background-color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    text-align:center;
}
form{
    background-image:url(bg-img5.avif);
    background-color: white; 
    max-width: 500px;
    margin:50px auto;
    padding:20px;
    box-shadow:5px 5px 2px rgba(0,0,0,0.5);
}
.form-control{
    text-align: left;
    margin-bottom:20px;
}

.form-control label{
    display:block;
    margin-bottom:10px;
}

.form-control input,
.form-control select,
.form-control textarea{
    border:1 px solid black;
    border-radius:2px;
    font-family:inherit;
    padding:10px;
    display:block;
    width:90%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"]{
    display:inline-block;
    width:auto;
}

button{
    background-color:white;
    border:1px solid orange;
    border-radius:2px;
    font-family:inherit;
    font-size:20px;
    display:block;
    width:100%;
    margin-top:50px;
    margin-bottom:20px;
}
.copyright{
    color:white;
}